body {
    font-family: 'Amiri', serif;
    text-align: center;
    background-color: white;
    color: black;
    direction: rtl;
    transition: background-color 0.5s, color 0.5s; /* انتقال سلس للخلفية والألوان */
}

body.night-mode {
    background-color: black;
    color: white;
}

.container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 24px;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px;
}

.clock {
    font-size: 18px;
}

.mode-toggle {
    display: flex;
    align-items: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.mode-text {
    margin-left: 8px; /* مسافة بين الأيقونة والنص */
}

.zikr-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    position: relative; /* تأمين الموقع */
}

.zikr {
    font-size: 24px;
    color: blue;
    margin-bottom: 20px; /* مسافة بين الذكر والدائرة */
}

.counter {
    width: 100px;
    height: 100px;
    background-color: green;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: white;
    cursor: pointer; /* خاصية الضغط على الدائرة */
}

#percentage {
    font-size: 18px;
    margin-top: 10px;
}

button {
    background-color: orange;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 20px; /* جعل الحواف دائرية */
    z-index: 1; /* تحديد الزر ليكون في المقدمة */
}

.quote {
    margin-top: 50px;
    font-size: 18px;
}

.motivational-quote {
    margin-top: 20px;
    font-size: 18px;
    color: purple;
}